 
    <div class="content">

    <div class="container-fluid pt-4 px-4">
        <form action="/admin/editpro/{{product._id}}" method="post" enctype="multipart/form-data">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Edit Product</h6>
                            <div class="form-floating mb-3">
                                <input type="text " class="form-control" id="floatingInput"
                                    placeholder="Product Name" name="productname" value="{{product.productname}}">
                                <label for="floatingInput">Product Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text " class="form-control" id="floatingInput"
                                    placeholder="Category" name="category" value="{{product.category}}">
                                <label for="floatingInput">Category</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text " class="form-control" id="floatingInput"
                                    placeholder="Description" name="description" value="{{product.description}}">
                                <label for="floatingInput">Description</label>
                            </div>
                             <div class="form-floating mb-3">
                                <input type="text " class="form-control" id="floatingInput"
                                    placeholder="Price" name="price" value="{{product.price}}">
                                <label for="floatingInput">Price</label>
                            </div>
                           <div class="col-md-2  me-1 ">
					<div >
						<img  src="/pro-images/{{product.image.[0]}}"  alt="">
					</div>
                
                </div>
                            <div class="mb-3">
                                <div class="col-md-2 ">
 {{!-- <img class="w-100" src="/pro-images/{{product.image.[0]}}"  alt="" style="width:30px;height:30px  "> --}}
                                </div>
                                
                                <label for="formFile" class="form-label">Default file input example</label>
                                <input class="form-control bg-dark" name="image" multiple type="file" id="formFile">
                            </div>
                             <div class="m-n2">
                             <button type="submit" class="btn btn-danger m-2">Submit</button>
                             </div>
                             
                             </div>
                       </form>
                    </div>
                    </div>
                   <script defer src="https://cdn.crop.guide/loader/l.js?c=WHBZGF"></script>