<div class="content">
    <div class="container-fluid  px-4 col-sm-12">
        
            <div class="container-fluid px-4">
                <div class="row g-4">
                    <ul class=" nav nav-tabs "   id="myTab" role="tablist">
                       

                    <li class=" nav-item col-sm-6 col-xl-4 p-1" role="presentation">
                        <div type="submit"
                            class=" nav-link shadow p-3 m-3 bg-white rounded btn btn-light bg-white border border-success rounded d-flex align-items-center justify-content-between p-4"
                            id="products-tab" data-bs-toggle="tab" data-bs-target="#products" role="tab" aria-controls="products"
                            aria-selected="false">
                            <div class="ms-2">
                                <a href="">
                                    <a class="mb-2 text-dark " style="font-size:20px">Total Orders</a>
                                    <h5 class="mb-0 text-dark"></h5>
                                    <i class="bi bi-cart rounded fa-3x text-danger"></i>
                                </a>
                            </div>
                            <div class="ms-4">
                                <a href="/admin/allproducts">
                                    <h4 class="mb-0 text-dark">{{totalOrders}}</h4>
                                    <a class="mb-0 text-danger" style="font-size:15px">Orders</a>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class=" nav-item col-sm-6 col-xl-4 p-1" role="presentation">
                        <div type="submit"
                            class=" nav-link shadow p-3 m-3 bg-white rounded btn btn-light bg-white border border-success rounded d-flex align-items-center justify-content-between p-4"
                            id="products-tab" data-bs-toggle="tab" data-bs-target="#products" role="tab" aria-controls="products"
                            aria-selected="false">
                            <div class="ms-2">
                                <a href="">
                                    <a class="mb-2 text-dark " style="font-size:20px">Total Customers</a>
                                    <h5 class="mb-0 text-dark"></h5>
                                    <i class="bi bi-people rounded fa-3x text-success"></i>
                                </a>
                            </div>
                            <div class="ms-4">
                                <a href="/admin/allproducts">
                                    <h4 class="mb-0 text-dark">{{totalUsers}}</h4>
                                    <a class="mb-0 text-success" style="font-size:15px">Customers</a>
                                </a>
                            </div>
                        </div>
                    </li>
                     <li class=" nav-item col-sm-6 col-xl-4 p-1" role="presentation">
                        <div type="submit"
                            class=" nav-link shadow p-3 m-3 bg-white rounded btn btn-light bg-white border border-success rounded d-flex align-items-center justify-content-between p-4"
                            id="products-tab" data-bs-toggle="tab" data-bs-target="#products" role="tab" aria-controls="products"
                            aria-selected="false">
                            <div class="ms-2">
                                <a href="">
                                    <a class="mb-2 text-dark " style="font-size:20px">Total Products</a>
                                    <h5 class="mb-0 text-dark"></h5>
                                    <i class="fas fa-carrot rounded fa-4x text-info"></i>
                                </a>
                            </div>
                            <div class="ms-4">
                                <a href="/admin/allproducts">
                                    <h4 class="mb-0 text-dark">{{totalproduct}}</h4>
                                    <a class="mb-0 text-info" style="font-size:15px">Products</a>
                                </a>
                            </div>
                        </div>
                    </li>
              
                    <li class=" nav-item col-sm-6 col-xl-4 p-1" role="presentation">
                        <div type="submit"
                            class=" nav-link shadow p-3 m-3 bg-white rounded btn btn-light bg-white border border-success rounded d-flex align-items-center justify-content-between p-4"
                            id="products-tab" data-bs-toggle="tab" data-bs-target="#products" role="tab" aria-controls="products"
                            aria-selected="false">
                            <div class="ms-2">
                                <a href="">
                                    <a class="mb-2 text-dark " style="font-size:20px">Daily Sale</a>
                                    <h5 class="mb-0 text-dark mb-3"></h5>
                                    <i class="fas fa-rupee-sign rounded fa-3x text-success"></i>
                                    <i class="bi bi-currency-rupee"></i>
                                </a>
                            </div>
                            <div class="ms-4">
                                <a href="/admin/allproducts">
                                    <h4 class="mb-0 text-dark">{{dailySales}}</h4>
                                    <a class="mb-0 text-success" style="font-size:15px">Rupees</a>
                                </a>
                            </div>
                        </div>
                    </li>
                   
                    <li class=" nav-item col-sm-6 col-xl-4 p-1" role="presentation">
                        <div type="submit"
                            class=" nav-link shadow p-3 m-3 bg-white rounded btn btn-light bg-white border border-success rounded d-flex align-items-center justify-content-between p-4"
                            id="products-tab" data-bs-toggle="tab" data-bs-target="#products" role="tab" aria-controls="products"
                            aria-selected="false">
                            <div class="ms-2">
                                <a href="">
                                    <a class="mb-2 text-dark " style="font-size:20px">Weekly Sales</a>
                                   <h5 class="mb-0 text-dark mb-3"></h5>
                                    <i class="fas fa-rupee-sign rounded fa-3x text-success"></i>
                                </a>
                            </div>
                            <div class="ms-4">
                                <a href="/admin/allproducts">
                                    <h4 class="mb-0 text-dark">{{weeklySales}}</h4>
                                    <a class="mb-0 text-success" style="font-size:15px">Rupees</a>
                                </a>
                            </div>
                        </div>
                    </li>
                      <li class=" nav-item col-sm-6 col-xl-4 p-1" role="presentation">
                        <div type="submit"
                            class=" nav-link shadow p-3 m-3 bg-white rounded btn btn-light bg-white border border-success rounded d-flex align-items-center justify-content-between p-4"
                            id="products-tab" data-bs-toggle="tab" data-bs-target="#products" role="tab" aria-controls="products"
                            aria-selected="false">
                            <div class="ms-2">
                                <a href="">
                                    <a class="mb-2 text-dark " style="font-size:20px">Yearly Sales</a>
                                    <h5 class="mb-0 text-dark mb-3"></h5>
                                    <i class="fas fa-rupee-sign rounded fa-3x text-success"></i>
                                </a>
                            </div>
                            <div class="ms-4">
                                <a href="/admin/allproducts">
                                    <h4 class="mb-0 text-dark">{{yearlySales}}</h4>
                                    <a class="mb-0 text-success" style="font-size:15px">Rupees</a>
                                </a>
                            </div>
                        </div>
                    </li>

                 
                   
                </ul>
                </div>

               
            </div>
            
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-success rounded h-100 p-4">
                    <!-- Chart Start -->
                    <div class="container-fluid pt-4 px-4">
                        <div class="col-sm-12 col-xl-12">
                            <div class="bg-white rounded h-100 p-2">
                                <h6 class="mb-4">salse-revenue</h6>
                                
                                <canvas id="salse-revenue"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="col-sm-12 col-xl-6">
                <div class="bg-success rounded h-100 p-4">
                    <!-- Chart Start -->
                    <div class="container-fluid pt-4 px-4">
                        <div class="col-sm-12 col-xl-12">
                            <div class="bg-white rounded h-100 p-4">
                                <h6 class="mb-4">Order status</h6>
                                {{!-- <canvas id="orderchart"></canvas> --}}
                                <canvas id="doughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        {{!-- <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <button type="button" class="btn btn-success" style="margin-left: 960px; margin-top: 20px;"
                    onclick="generatePDF()">Download</button>
                    <Div id="invoice">
                  <h5 class="card-title">Yearly Sales <span></span></h5>
                  <table class="table table-borderless text-dark">
                    <thead>
                      <tr>
                        <th scope="col ">No.</th>
                        <th scope="col ">year</th>
                        <th scope="col">Total Sales</th>
                        <th scope="col">Total Revenue</th>
                      </tr>
                    </thead>
                    <tbody>

                      {{#each yearly}}
                      <tr>

                        <td>{{@index}}</td>
                        <td>{{this._id}}</td>
                        <td>{{this.count}}</td>
                        <td>{{this.total}}</td>

                      </tr>
                      {{/each}}

                    </tbody>
                  </table>
                  </Div>
                </div>
              </div>
            </div> --}}
    </div>
</div>
<script src="lib/chart/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<script>
    function generatePDF() {
      const element = document.getElementById('invoice');
      element.style.width = '700px';
      element.style.height = '900px';
      let opt = {
        margin: 10,
        filename: 'loyalpaws.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 1 },
        jsPDF: { unit: 'mm', orientation: 'landscape' }
      }
      html2pdf().set(opt)
        .from(element)
        .save();
    }
</script>

<script>
    //doughnut
  var ctxD = document.getElementById("doughnutChart").getContext('2d');
  var myLineChart = new Chart(ctxD, {
    type: 'doughnut',
    data: {
      labels: ["PLACED", "DELIVERED","PENDING",'SHIPPED'],
      datasets: [{
        data: [{{ orderData.PLACED }}, {{ orderData.DELIVERED }}, {{ orderData.PENDING }} , {{ orderData.SHIPPED }}],
        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
      }]
    },
    options: {
      responsive: true,
   
    }
  });
</script>

<script>
 var ctxD = document.getElementById("salse-revenue").getContext("2d");
    var myChart2 = new Chart(ctxD, {
        type: "line",
        data: {
            labels: ["2016", "2017", "2018", "2019", "2020", "2021", "2022"],
            datasets: [{
                    label: "Salse",
                    data: [15, 30, 55, 45, 70, 65, 85],
                    backgroundColor: "rgba(75, 150, 20, 10)",
                    fill: true
                },
                {
                    label: "Revenue",
                    data: [99, 135, 170, 130, 190, 180, 270],
                    backgroundColor: "rgba(235, 22, 22, .5)",
                    fill: true
                }
            ]
            },
        options: {
            responsive: true
        }
    });
</script>
   