<!-- Table Start -->
<div class="content">
    <div class="container-fluid pt-4 px-4 col-sm-12">
        <a href="/admin/addproductpage"> <button class="btn btn-success m-2">Add Product</button></a>
        <div class="row g-4">
            <div class="col-sm-12 col-xl-10">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Product List</h6>
                    <table class="table table-hover" id="producttable">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">image</th>
                                <th scope="col">Options</th>
                                  <th scope="col">Options</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each allproducts}}
                            <tr>
                                <th scope="row">{{@index }}</th>
                                <td>{{this.productname}}</td>
                                <td>{{this.categoryname}}</td>
                                <td>{{this.description}}</td>
                                <td>{{this.price}}</td>
                                <td><img style="width:30px;height:30px  " src="/pro-images/{{this.image.[0]}}" alt="">
                                </td>
                                <td>
                                    <a href="/admin/editproduct/{{this._id}}" class="btn btn-info btn-sm">Edit</a>
                                </td>
                                <td>
                                    {{!-- <a  onclick="confirmRedirect(event)" class="btn btn-danger btn-sm">Delete</a> --}}
<a href="/admin/deleteproduct/{{this._id}}" class="btn btn-info btn-sm">delete</a>


                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>



<script>
    $ (function () {
    $('#producttable').DataTable();
});
</script>