<!-- Table Start -->
<div class="content">
    <div class="container-fluid pt-4 px-4 col-sm-12">
        <div class=" d-flex justify-content-end">
        </div>
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-white rounded h-100 p-4">
                    <h2 class=" text-dark">Products</h2>
                    <div class="bg-white rounded h-100 p-4 mb-2 mt-2">
                        <!-- Default Table -->
                        <table class=" table table-hover text-dark ">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody> {{#each product}} <tr>
                                    <td><img src="/pro-images/{{this.image.[0]}}" alt=""
                                            style="width: 50px; height:auto"> </td>
                                    <td>{{this.productname}}</td>
                                    <td>{{this.categoryname}}</td>
                                    <td>{{this.stock}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#example-{{this._id}}" value="{{this._id}}" name="id" id="">
                                            Edit </button>
                                    </td>
                                </tr> {{/each}} </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {{#each product}} <div class="modal fade" id="example-{{this._id}}" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-md-12" action="/admin/edit-stock/{{this._id}}" method="post" enctype="">
                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" name="name" class="form-control bg-white text-black" id="newPrice"
                            aria-describedby="emailHelp" placeholder="Name" value="{{this.productname}}">
                    </div>
                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1">Category</label>
                        <input type="text" name="model" class="form-control bg-white text-black" id="stock"
                            aria-describedby="emailHelp" placeholder="Model" value="{{this.categoryname}}">
                    </div>
                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1">Stock</label>
                        <input type="number" name="stock" class="form-control bg-white text-black" id="stock"
                            aria-describedby="emailHelp" placeholder="Stock count" value="{{this.stock}}">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> {{/each}}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
    let table = new DataTable('#myproduct');
</script>
<script>
    function confirmDelete(event, proId) {
        event.preventDefault(); // Prevent the default behavior of the anchor tag

        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to delete this item.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // If the user confirms, send an AJAX request to delete the item


                $.ajax({
                    url: `/admin/deleteproduct/${proId}`,
                    method: 'GET',

                    success: (response) => {
                        // Item deleted successfully
                        Swal.fire('Deleted!', 'The item has been deleted.', 'success').then(() => {
                            location.reload();
                        })



                    },

                    error: function (error) {
                        // Error deleting the item
                        Swal.fire('Error!', 'An error occurred while deleting the item.', 'error');
                    }
                });
            }
        });
    }
</script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
    let table = new DataTable('#inventory');
</script>