<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-10 col-lg-8 col-xl-12">
        <div class="card card-stepper" style="border-radius: 16px;">
          <div class="card-header p-2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                {{!-- <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">{{this.userId}}</span></p> --}}
                <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">12,March 2019</span> </p>
              </div>
              <div>
            
              </div>
            </div>
          </div>
          <div class="card-body p-2">
            <div class="d-flex flex-row mb-2 pb-2">
                <table class="table  text-dark" id="orderTable">
                <thead>

                  <tr>
                     <th scope="col">Product Name</th>
                                <th scope="col">Category</th>
                              
                                <th scope="col">Price</th>
                                <th scope="col">image</th>
                  </tr>

                </thead>

                <tbody>
                  

                    {{#each oneOrderProduct }}
                    
                  
                  <tr>
                   <td>{{this.product.productname}}</td>
                                <td>{{this.product.categoryname}}</td>
                               
                                <td>Rs.{{this.product.price}}</td>
                                <td><img style="width:30px;height:30px  " src="/pro-images/{{this.product.image.[0]}}" alt="">
                                </td>
                    
                  </tr>
                 
                 {{/each}}
                </tbody>

              </table>
            </div>
      

            <ul id="progressbar-1" class=" mx-0 mt-0 mb-3 px-0 pt-0 pb-2">
              <li class=" step0 active" id="step1"><span
                  style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
              <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
              <li class="step0 text-muted text-end" id="step3"><span
                  style="margin-right: 22px;">DELIVERED</span></li>
            </ul>
          </div>
          <div class="card-footer p-4">
            <div class="d-flex justify-content-between">
              <h5 class="fw-normal mb-0"><a href="#!">Track</a></h5>
              <div class="border-start h-100"></div>
              <h5 class="fw-normal mb-0"><a href="#!">Cancel</a></h5>
              <div class="border-start h-100"></div>
              <h5 class="fw-normal mb-0"><a href="#!">Pre-pay</a></h5>
              <div class="border-start h-100"></div>
              <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fas fa-ellipsis-v"></i></a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<style>


#progressbar-1 {
color: #455A64;
}

#progressbar-1 li {
list-style-type: none;
font-size: 13px;
width: 33.33%;
float: left;
position: relative;
}

#progressbar-1 #step1:before {
content: "1";
color: #fff;
width: 29px;
margin-left: 22px;
padding-left: 11px;
}

#progressbar-1 #step2:before {
content: "2";
color: #fff;
width: 29px;
}

#progressbar-1 #step3:before {
content: "3";
color: #fff;
width: 29px;
margin-right: 22px;
text-align: center;
}

#progressbar-1 li:before {
line-height: 29px;
display: block;
font-size: 12px;
background: #455A64;
border-radius: 50%;
margin: auto;
}

#progressbar-1 li:after {
content: '';
width: 121%;
height: 2px;
background: #de3d0c;
position: absolute;
left: 0%;
right: 0%;
top: 15px;
z-index: -1;
}

#progressbar-1 li:nth-child(2):after {
left: 50%
}

#progressbar-1 li:nth-child(1):after {
left: 25%;
width: 121%
}

#progressbar-1 li:nth-child(3):after {
left: 25%;
width: 50%;
}

#progressbar-1 li.active:before,
#progressbar-1 li.active:after {
background: #0fb70c;
}

.card-stepper {
z-index: 0
}
</style>