<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-0 gx-5 align-items-end">
      <div class="col-lg-6">
        <div class="section-header text-start mb-3 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h1 class="display-5 mb-3">Order List</h1>
          <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
      </div>
      <!-- Table Start -->
      <div class="content">
        <div class="container-fluid px-2 py-3 col-sm-12"> {{!-- <a href="/"> <button class="btn btn-success m-2">Add
              Product</button></a> --}} <div class="row g-4">
            <div class="col-sm-12 col-xl-10">
              <div class="bg-white rounded h-100 p-4 mb-1 mt-1">
                <table id="myTable" class="table table-hover .thead-dark">
                  <thead>
                    <tr>
                      <th scope="col">Order Placed on</th>
                      <th scope="col">Ship To</th>
                      <th scope="col">Order Id</th>
                      
                      <th scope="col">Total Amount</th>
                      <th scope="col">Order Status</th>
                      <th scope="col">Order details</th>
                    </tr>
                  </thead>
                  <tbody> {{#each orders}} <tr> {{!-- <th scope="row">{{@index}}</th> --}} 
                  <td>{{this.date}}</td>
                      <td>{{this.deliverydetails.firstname}}</td>
                      <td>{{this._id}}</td>
                    
                      <td>Rs.{{this.totalAmount}}</td>
                      <td>{{this.status}} </td>
                   
                      <td><a href="/orderdetailpage/{{this._id}}">View Order Details</a></td> 
                        {{!-- <td><a href="/orderdetailpage/{{this._id}}">View Order Details</a></td>  --}}
                        {{!-- <td><a href="/orderdetailpage/{{generateSlugFromId(this._id)}}">View Order Details</a></td> --}}


                    </tr> {{/each}} </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <script>
          let table = new DataTable('#myTable');



        </script>

      