<!-- Page Header Start -->
<div class="container-fluid page-header mb-3 wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
    <h1 class="display-3 mb-3 animated slideInDown">About Us</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
        <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
        <li class="breadcrumb-item text-dark active" aria-current="page">About Us</li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- checkout start -->
<div class="container  mt-4">
  <h4 class="mb-5">Billing Address</h4>
<div class="row g-3 mb-3" >
<div class="col-sm-5 mx-5 ">
  <form id="checkout-form">
    <div class="row  g-3 mb-3 ">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" placeholder="First Name" class="form-control" name="firstname" value="{{user.firstname}}" />
           <input type="text"  name="userId" value="{{user._id}}" hidden />
          <label class="form-label">First Name</label>
        </div>
       </div>
      <div class="col-md-6">
        <div class="form-floating">
        <input type="text"  placeholder="Last Name" name="lastname" class="form-control" value="{{user.lastname}}" />
        <label class="form-label" >Last Name</label>
      </div>
    </div>
      <!-- Email input -->
      <div class="col-md-12">
        <div class="form-floating">
        <input type="email"  placeholder="Email" class="form-control" name="email" value="{{user.email}}" />
        <label class="form-label" >Email</label>
      </div>
    </div>
    <!-- --phone-- -->
    <div class="col-md-6">
      <div class="form-floating">
      <input type="number"  placeholder="Phone Number" class="form-control" name="phone" value="{{user.phone}}" />
      <label class="form-label" >Phone Number</label>
    </div>
  </div>
      <!-- Password input -->
      <div class="col-md-6">
        <div class="form-floating">
        <input type="text" placeholder="pincode" class="form-control" name="pincode"/>
        <label class="form-label" >PinCode</label>
      </div>
    </div>
    
      <!-- Password input -->
      <div class="col-md-12">
        <div class="form-floating">
        <input type="text"  placeholder="Address" class="form-control" name="address" value="{{user.address}}" />
        <label class="form-label" >Address</label>
      </div>
    </div>
    </div>
  
  
        <!-- Checkbox -->
        
  
        <!-- Submit button -->
        <div class="col-12  mb-5 text-center">
           
        </div>
 

</div>
<div class="w-25 col-sm-5 pl-2 bg-light border border-primary" >
  
   <h5 class="mt-5 mb-5 " >Total Amount: <span  class="text-primary">{{grandtotal}}</span>   </h5>
   <hr>
   <h6 class="font-bold mb-3 text-primary">Payment method</h6>


   
<div class="form-check">
  <input class="form-check-input" type="radio" name="paymentmethod" value="COD">
  <label class="form-check-label" >
    Cash On Delivery
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="paymentmethod" value="ONLINE" >
  <label class="form-check-label">
    Online Payment
  </label>

</div>
        <div class="col-12 text-center">
            <button class=" mt-5 btn btn-primary rounded-pill px-5" type="submit">Check Out</button>
        </div>
</div>
</div>

   </form>

</div>
<script>
  $("#checkout-form").submit((e)=>{
    e.preventDefault()
    console.log('entered')
    $.ajax({
      url:'/place-order',
      method:'post',
      data:$("#checkout-form").serialize(),
      success:(response)=>{
        console.log('huiiiii')
      

   
        Swal.fire({
          title: 'Order Placed Successfully!',
          text: 'Thank you!',
          icon: 'success'
        }).then(() => {
          if (response.status) {
            location.href = 'profile';
          }
        });
      }
    })
  })
</script>