<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-4  me-2   shadow p-3 mb-5 bg-white rounded ">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
              class=" bg-danger active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-success"
              aria-label="Slide 2"></button>
           
          </div>
          <div id="zoom1"  class="carousel-inner">
            <div class="carousel-item active">
              <img src="/pro-images/{{product.image.[0]}}" class="d-block w-100" alt="...">
            </div>
            <div  class="carousel-item">
              <img src="/pro-images/{{product.image.[1]}}" class="d-block w-100" alt="...">
            </div>
            
          </div>
          <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> {{!-- <div class="bg-image hover-zoom">
          <img class="w-100" src="/pro-images/{{product.image.[0]}}" alt="">
        </div> --}}
      </div>

    
      <div class="col-md-7 ms-5">
        <div class="product-content">
          <h3>{{product.productname}}</h3>
          <span>Per Kg</span>
          <h2 class="single-product-pricing mt-3">₹ {{product.price}}</h2>
          <p><strong>Categories: </strong>{{product.categoryname}}</p>
          <p>{{product.description}}</p>
        
          <div class="single-product-form mt-3 mb-3">
            <a class="btn btn-primary rounded-pill py-3 px-5" href="/add-to-cart/{{product._id}}">Add to Cart</a> {{!--
            <a class="text-body" id="addtocart" href="/add-to-cart/{{this._id}}"><i
                class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a> --}} <a class=" underline px-5"
              href="/profile"><u>Back</u></a>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- product detail End -->



<script>
            const container=document.getElementById('zoom1')
            const img=document.querySelector('img');
        
            container.addEventListener("mousemove",(e)=>{
                const x= e.clientX -e.target.offsetLeft;
                const y= e.clientX -e.target.offsetTop;
                console.log(x,y)
                img.style.transformOrigin=`${x}px ${y}px`;
                img.style.transform="scale(2)"
            })
            container.addEventListener("mouseleave",()=>{
                img.style.transformOrigin='center';
                img.style.transform='scale(1)'
            })
        </script>

